
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans';
}
.header_container{
  background-image: url('./images/banner/banner2.png');
  background-repeat: no-repeat;
  background-size:cover;
  position: absolute;
  width: 100%;
  height: 100%; 
  top: 0px;

}

.btn{
width: 160px;
height: 56px; 
top: 500px; 
background: #F15B22; 
border-radius: 5px;
cursor: pointer;
color: #fff;
border: none;
font-size: 20px;
font-weight: 500;

}

.content_area{
  text-align: right; 
  padding: 40px;
  margin-right: 100px;
  margin-top: 150px;
}
.content_area h1{
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  font-family: 'Work Sans';
}

.content_area p{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
}
/* about section */
.about .about_container{
  display: flex; 
  justify-content: center;
  align-items: center; 
}
.about > h1{
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 70px;
}
.content h2{
  font-size: 45px;
  font-weight: bolder;
}
.content p{
  font-size: 18px;
}
.image img{
  width: 500px;
  height: 400px;
  border-radius: 50%;
  margin-left: 30px;
  animation:float 3s linear infinite;
} 
@keyframes float {
  0%, 100%{
      transform: translateY(0rem);
  }50%{
    transform: translateY(3rem);
  }
}
/* failure section */
.failure{
  background: #fff;
  width: 100%;
  height:70vh;
  margin-top: 1000px;
   
}
.failure .failure_container{
  display: flex; 
  justify-content:  center;
  align-items: center; 
}
.box-1 img{
 width: 100%;
 height: 500px; 
} 

.box-2 .fa{  
  display: flex; 
}

/* my plan */
.plan_title{
  font-size: 50px;
  text-align: center;
  margin-bottom: 3rem;
}
.plan_container .plan_box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
}

.plan_container .plan_box p{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;  
  color: #737272;
}

/* mindset section ------------*/
.mindset .mindset_box{ 
    width: 60%;
    background-image:
    linear-gradient(to left, rgba(245, 246, 252, 0.208), rgba(117, 19, 93, 0.73)),url('./images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
     margin-left: 370px;
     padding: 4rem;
}
.mindset .mindset_box h1{
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  line-height: 3rem;
}

.mindset_button{
  padding: 1rem 2rem;
  border-radius: 5px;
  color:   #F15B22;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  border: none;
}

/* footer section */

footer .footer_container{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  padding: 70px;
  align-items: center;
  background: black;
  color: #fff;
}
.future{
  margin-left:270px;
}
.future h1{
  font-size: 30px;
  text-transform: capitalize;

}
.future p{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.future .social_icon{
  display: flex;
  gap: 1.4rem;
}

.subscribe input{
    display: block;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 10px;
    background: transparent;
    margin-bottom: 17px;
    border-radius: 7px;
    color: #fff;
    margin-right: 70px;
}
 